# Test OSRM Service
- This notebook allows experimentation and testing  of the OSRM 

<span style="color:red; font-weight:bold">Note:</span> Remember to Restart the Notebook **if you have changed code**.<br>The notebook does not auto reload.

In [1]:
# System level imports
import sys
import os
from dotenv import load_dotenv

# Load environment variables
load_dotenv()
TEST_DEV_PRJ_PATH = os.environ.get("TEST_DEV_PRJ_PATH")

# ##### SET SYS PATH TO WHERE THE CODE IS. #####
# Note: Putting our code first in the sys path will make sure it gets picked up
sys.path.insert(0, f"{TEST_DEV_PRJ_PATH}/backend/src")
print(sys.path)

['/Users/dan/Code/Python/Ken/routes-splitter/backend/src', '/Users/dan/miniforge3/envs/py3.13/lib/python313.zip', '/Users/dan/miniforge3/envs/py3.13/lib/python3.13', '/Users/dan/miniforge3/envs/py3.13/lib/python3.13/lib-dynload', '', '/Users/dan/Code/Python/Ken/routes-splitter/.venv/lib/python3.13/site-packages']

In [2]:
from wulfs_routing_api.services.osrm_service import OSRMService
service = OSRMService()

In [3]:
import pandas as pd
# Read the Excel file located in the 'data' directory
wulfs_cust_df = pd.read_csv("../../data/wulfs_customer_master.csv")

print(f"length {len(wulfs_cust_df)}")
# 8 Seafood Way, Boston, MA 02210â€‘2603
depot = (42.3490175,-71.0311327)

wulfs_cust_df.head()

length 501

,Customer Name,Street Address,Unit,City,State,ZIP,Latitude,Longitude
0,1928 Beacon Hill LLC,97 Mt. Vernon St,NaN,Boston,MA,02108,42.358085,-71.069732
1,AC Kitchen,161 Merrimac St,NaN,Woburn,MA,01801,42.514958,-71.148602
2,Bar Volpe,170 W Broadway,NaN,Boston,MA,02127,42.340412,-71.053037
3,Fox & The Knife,28 West Broadway,NaN,South Boston,MA,02127,42.342732,-71.056494
4,Alba Restaurant,1486 Hancock Street,NaN,Quincy,MA,02169,42.248658,-71.001808

In [ ]:
locations = [(row['Latitude'], row['Longitude']) for _, row in wulfs_cust_df.head(5).iterrows()]
depot = (42.3490175,-71.0311327)
locations.insert(0, depot)

for location in locations:
    distance = service.get_route_distance(depot,location)
    print(f"{location} {distance}")

(42.3490175, -71.0311327) 0.0
(42.3580849, -71.0697321) 2.959342440149527
(42.5149581, -71.1486024) 15.57056788356001
(42.3404121, -71.0530365) 1.9459481627296584
(42.3427325, -71.0564945) 1.8647970850234628
(42.2486582, -71.0018076) 9.754471387099338

In [5]:
import math
def compute_haversine_distance(coord1, coord2):
    """Compute great-circle distance (km) between two lat/lon coordinates."""
    R = 6371.0  # Earth radius in km
    lat1, lon1 = map(math.radians, coord1)
    lat2, lon2 = map(math.radians, coord2)
    dlat, dlon = lat2 - lat1, lon2 - lon1
    a = math.sin(dlat / 2)**2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon / 2)**2
    return 2 * R * math.asin(math.sqrt(a))

In [6]:
locations = [(row['Latitude'], row['Longitude']) for _, row in wulfs_cust_df.head(5).iterrows()]
depot = (42.3490175,-71.0311327)
locations.insert(0, depot)

for location in locations:
    distance = compute_haversine_distance(depot,location)
    print(f"{location} {distance}")

(42.3490175, -71.0311327) 0.0
(42.3580849, -71.0697321) 3.32823098580766
(42.5149581, -71.1486024) 20.818553422321536
(42.3404121, -71.0530365) 2.038672835224985
(42.3427325, -71.0564945) 2.198358085093482
(42.2486582, -71.0018076) 11.417099330261692