# Test Customer Service and Models
- This notebook allows experimentation and testing  of the Customer components 

<span style="color:red; font-weight:bold">Note:</span> Remember to Restart the Notebook **if you have changed code**.<br>The notebook does not auto reload.

In [2]:
# System level imports
import sys
import os
from dotenv import load_dotenv

# Load environment variables
load_dotenv()
TEST_DEV_PRJ_PATH = os.environ.get("TEST_DEV_PRJ_PATH")

# ##### SET SYS PATH TO WHERE THE CODE IS. #####
# Note: Putting our code first in the sys path will make sure it gets picked up
sys.path.insert(0, f"{TEST_DEV_PRJ_PATH}/backend/src")
print(sys.path)

['/Users/dan/Code/Python/Ken/routes-splitter/backend/src', '/Users/dan/Code/Python/Ken/routes-splitter/backend/src', '/Users/dan/miniforge3/envs/py3.13/lib/python313.zip', '/Users/dan/miniforge3/envs/py3.13/lib/python3.13', '/Users/dan/miniforge3/envs/py3.13/lib/python3.13/lib-dynload', '', '/Users/dan/Code/Python/Ken/routes-splitter/.venv/lib/python3.13/site-packages']

In [3]:
from wulfs_routing_api.models.customers.supabase_customer import SupabaseCustomer
from wulfs_routing_api.services.customer_service import CustomerService
customer_service = CustomerService(SupabaseCustomer())

customer_master_df = customer_service.load_customer_master_data()
customer_master_df

✅ Supabase client initialized.

,customer_id,name_key,customer_name,address,city,state,zip,lat,lon
0,1,1928 beacon hill llc,1928 Beacon Hill LLC,97 Mt. Vernon St,Boston,MA,2108,42.358085,-71.069732
1,2,ac kitchen,AC Kitchen,161 Merrimac St,Woburn,MA,1801,42.514958,-71.148602
2,3,bar volpe,Bar Volpe,170 W Broadway,Boston,MA,2127,42.340412,-71.053037
3,4,fox the knife,Fox & The Knife,28 West Broadway,South Boston,MA,2127,42.340672,-71.053535
4,5,alba restaurant,Alba Restaurant,1486 Hancock Street,Quincy,MA,2169,42.248760,-71.001785
...,...,...,...,...,...,...,...,...,...
488,489,wequassett resort and golf club,Wequassett Resort and golf club,2173 MA-28,Harwich,MA,2645,41.684283,-70.011038
489,490,westin boston sauciety restaurant,Westin Boston Sauciety Restaurant,425 Summer St,Boston,MA,2210,42.346186,-71.042738
490,491,the beehive co spybar,The Beehive CO SpyBar,541 Tremont,St Boston,MA,2116,42.344373,-71.071381
491,492,leybi l lopez sales,Leybi L Lopez Sales,8 Seafood Way,Boston,MA,2210,42.349018,-71.031133
492,493,chef youji,Chef Youji,32 Cambridge St,Charlestown,MA,2129,42.383859,-71.074077